<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{today|date:'MMMM yyyy'}}</h3>
    </div>
    <div class="panel-body" ng-click="details=!details">
        <h3>Balance: <span
                class="label label-{{sumIncome-sumExpenses>=0?'success':'danger'}}">{{sumIncome-sumExpenses}}</span>
        </h3>
    </div>
    <div class="panel-footer" ng-show="details">
        <h4>Income: <span class="label label-success">{{sumIncome}}</span></h4>
        <h4>Expenses: <span class="label label-danger">{{sumExpenses}}</span></h4>
    </div>
</div>