<form class="jumbotron">
    <h4>Category</h4>
    <input type="text" class="form-control" placeholder="category" ng-model="expense.category" ng-required="true"
           typeahead="category for category in categories | filter:$viewValue | limitTo:8"
           autofocus>

    <h4>Amount</h4>
    <input type="number" class="form-control" placeholder="amount" ng-model="expense.amount" ng-required="true">

    <h4>Date</h4>
    <div class="input-group">
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        <input type="text" class="form-control" placeholder="date" ng-model="expense.date" ng-required="true"
               datepicker-popup="dd.MM.yyyy" is-open="opened">
    </div>
    <br/>
    <section class="btn-panel pull-right">
        <button type="button" class="btn btn-lg btn-danger" ng-click="remove()" ng-show="expense._id">Delete</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="save()">Save</button>
    </section>
</form>

