<h3>Monthly Income</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <td>Category</td>
        <td>Amount</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="text" class="form-control" placeholder="category" ng-model="newIncome.category" >
        </td>
        <td>
            <input type="number" class="form-control" placeholder="amount" ng-model="newIncome.amount"
                   ng-required="true">
        </td>
        <td>
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </td>
    </tr>
    <tr ng-repeat="income in incomeList "
        ng-mouseenter="show = true" ng-mouseleave="show = false">
        <td>{{income.category}}</td>
        <td> {{income.amount}}</td>
        <td><span class="glyphicon glyphicon-remove clickable" ng-show="show"
                  ng-click="remove(income._id)"></span></td>
    </tr>
    </tbody>
</table>