<div class="h4">
    Search Category:
    <input ng-model="search.category" class="form-inline">
    &nbsp;
    Time Period:
    <select class="dropdown" ng-model="selectedTimeFilter"
            ng-options="timeFilter.name for timeFilter in timeFilters"></select>
</div>
<br/>
<table class="table table-hover">
    <thead class="h4">
    <tr>
        <td class="clickable" ng-click="setOrder('date')"><caret ng-show="orderProp.indexOf('date')>=0" up="orderProp.indexOf('-')>=0"></caret>&nbsp;Date</td>
        <td class="clickable" ng-click="setOrder('category')"><caret ng-show="orderProp.indexOf('category')>=0" up="orderProp.indexOf('-')>=0"></caret>&nbsp;Category</td>
        <td class="clickable" ng-click="setOrder('amount')"><caret ng-show="orderProp.indexOf('amount')>=0" up="orderProp.indexOf('-')>=0"></caret>&nbsp;Amount</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expense in expensesList | orderBy : orderProp | filter: search "
        ng-mouseenter="show = true" ng-mouseleave="show = false">
        <td>{{expense.date| date : 'dd-MM-yyyy'}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.amount}} <span class="glyphicon glyphicon-pencil pull-right" ng-show="show"
                                     ng-click="edit(expense._id)"></span></td>
    </tr>
    </tbody>
</table>
